<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Каммад - тауматург. Когда-то в детстве он случайно нашёл книгу с надписью "Таумономикон".
        И случилось так, что <s>он попал на землю</s> с этой книгой он связал свою жизнь.
        Он любит алхимию и големоведенье, но ненавидит наполнять предметы магией, потому что это слишком муторно и
        требует больших затрат. Ему иногда являются видения и потусторонняя хрень, которую может осязать только он.
        Поэтому его иногда считают сумасшедшим, хотя на самом деле это не так. Небольшое приобретённое искажение разума.
         </p> <img width = 400px src="/static/Thaumaturge art.png" />
</body>
</html>